---

---
 
 <!-- Home -->
 <section class="home" id="home">
    <div class="text">
      <h1><span>BMW</span> Car <br />rental only</h1>
      <p>And Mclaren F1's</p>
      <div class="app-stores">
        <img src="img/ios.png" alt="" />
        <img src="img/512x512.png" alt="" />
      </div>
    </div>

    <div class="form-container">
      <form action="">
        <div class="input-box">
          <span>Location</span>
          <input type="search" name="" id="" placeholder="Search Places" />
        </div>
        <div class="input-box">
          <span>Pick-Up Date</span>
          <input type="date" name="" id="" />
        </div>
        <div class="input-box">
          <span>Return Date</span>
          <input type="date" name="" id="" />
        </div>
        <input type="submit" name="" id="" class="btn" />
      </form>
    </div>
  </section>