---
import rev1 from '../img/rev1.jpg'
import rev2 from '../img/rev2.jpg'
import rev3 from '../img/rev3.jpg'
---
 
 <!-- Reviews -->
 <section class="reviews" id="reviews">
    <div class="heading">
      <span>Reviews</span>
      <h1>Whats Our Customer Say</h1>
    </div>
    <div class="reviews-container">
      <div class="box">
        <div class="rev-img">
          <img src={rev1.src} alt="" />
        </div>
        <h2>Someone Name</h2>
        <div class="stars">
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star-half"></i>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis amet
          quibusdam similique doloremque consequatur cupiditate repudiandae
          voluptatum nam!
        </p>
      </div>

      <div class="box">
        <div class="rev-img">
          <img src={rev2.src} alt="" />
        </div>
        <h2>Someone Name</h2>
        <div class="stars">
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star-half"></i>
        </div>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Exercitationem minima at fugiat totam labore voluptatum ipsum
          veritatis sunt!
        </p>
      </div>

      <div class="box">
        <div class="rev-img">
          <img src={rev3.src} alt="" />
        </div>
        <h2>Someone Name</h2>
        <div class="stars">
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star-half"></i>
        </div>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo
          voluptate beatae sed earum officiis pariatur perferendis adipisci
          iusto.
        </p>
      </div>
    </div>
  </section>

<style>
 #reviews {
  background-color: #38a0f5;
}
.reviews-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1rem;
  margin-top: 2rem;
}
.rev-img {
  width: 70px;
  height: 70px;
}
.rev-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid var(--second-color);
}
.reviews-container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: white;
}
.reviews-container .box h2 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0.5rem 0 0.5rem;
}
.reviews-container .box p {
  font-style: italic;
}
.reviews-container .box .stars .bx {
  color: var(--main-color);
}
  </style>